<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Добро пожаловать на сайт о фильмах!</h1>
    <h2>Список фильмов:</h2>
    <ul>
        {% for film in films %}
            <li>
                <strong>{{ film.title }}</strong><br>
                {{ film.description }}<br>
                <em>{{ film.review }}</em>
            </li>
        {% empty %}
            <li>Пока нет добавленных фильмов.</li>
        {% endfor %}
    </ul>
</body>
</html>
